body {
    background-color: black;
}

h1 {
    font-family: 'Oswald', sans-serif;
    text-align: center;
    font-size: 2rem;
    color: white;
}

p {
    color: white;
    font-family: 'Oswald', sans-serif;
    text-align: center;
}

img {
    border: 5px solid white;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-top: 100px;
}